<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="RAD.ClipMon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <RAD.ClipMon.Properties.Settings>
            <setting name="keymsg" serializeAs="String">
                <value />
            </setting>
            <setting name="firstinstall" serializeAs="String">
                <value>False</value>
            </setting>
        </RAD.ClipMon.Properties.Settings>
    </userSettings>
</configuration>
